@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine
@using BestRestaurant.Models

<h2>Cuisine Details</h2>
<hr/>

<h3>@Html.DisplayNameFor(model => model.CuisineType): @Html.DisplayFor(model => model.CuisineType)</h3>